# R for travis: see documentation at https://docs.travis-ci.com/user/languages/r

language: R
cache: packages
apt_packages:
  - libudunits2-dev 
  - libgdal-dev 
  - libgeos-dev 
  - libproj-dev 
after_success:
  - Rscript -e 'covr::codecov()'
os:
  - linux
  - osx